#header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    top: -10px; /* cover natural gap on top*/
    height: 100px;
}

@media (max-width: 1024px) {
  #header {
    margin: 0 100px;
  }
}

@media (max-width: 768px) {
  #header {
    margin: 0 0;
  }
}

@media (max-width: 650px) {
  #header {
    height: 80px;
  }
}

#navBar{
    flex-grow: 1;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    border-radius: 10px;
}

#navDropDownIcon {
    width: 50px;  
    height: 50px; 
    padding: 10px;
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 650px) {
  #navDropDownIcon {
    width: 40px;  
    height: 40px; 
    padding: 10px;
    margin: 10px 10px;
  }
}

#navDropDownIcon div{
    width: 100%;  
    height: 5px;  
    background-color: #ddd;  
}

#navDropDownIcon:hover, #navDropDownIcon.active {
  background-color: #ddd;
}

#navDropDownIcon:hover div, #navDropDownIcon.active div{
  background-color: #000;  
}

#navBar h1 {
    position: relative;
    width: fit-content;
    display: block;
    flex-grow: 1;
    color: #eee;
    user-select: none;
    font-family: '04b03', cursive;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    line-height: 1;
}

@media (max-width: 650px) {
  #navBar h1 {
    font-size: 40px;
  }
}

#navDropDown {
    position: absolute;
    display: none;
    top: 100px;
    margin-top:4px;
    width: 250px;
    padding: 10px;
    height: fit-content;
    background-color: #000;
    border-radius: 10px;
}

@media (max-width: 650px) {
  #navDropDown {
    top: 80px;
  }
}

#navDropDown.show {
    display: block;
}

.nav-dropdown-item {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 7px;
  background-color: #eee;
  border-radius: 10px;
}

.nav-dropdown-item:last-child {
  margin-bottom: 0px;
}

.nav-dropdown-item a {
  width: 100%;
  text-decoration: none;
}

.nav-dropdown-item p {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  top: calc(50%);
  transform: translate(0, -50%);
  text-align: left;
  text-indent: 10%;
  color: #111;
  user-select: none;
  font-family: '04b03', cursive;
  font-size: 30px;
  font-weight: lighter; 
}

.nav-dropdown-item:hover {
  background-color: #000;
  cursor: pointer;
}
.nav-dropdown-item:hover p{
  color: #eee;
}

#logoBox {
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    margin-left: 4px;
    background-color: #000;
    border-radius: 10px;
}

#logoBox img {
    position: relative;
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#logoBox img:hover {
  animation-name: logo-jiggle;
  animation-duration: 0.5s; 
  animation-iteration-count: infinite; 
}

@media (max-width: 650px) {
  #logoBox {
    height: 80px;
    width: 80px;
  }

  #logoBox img {
    height: 60px;
    width: 60px;
  }
}

@keyframes logo-jiggle {
  
  20%, 60% { 
    transform: rotate(-1deg) translate(-50%, -50%);
  }

  40%, 80% { 
    transform: rotate(1deg) translate(-50%, -50%);
  }
}