<footer>
    <!-- Note: CSS for the footer is included in the head of the header partial for optimal loading. -->
    
    <div id="toggleFooterButton">
        <div class="arrow-bar"></div>
        <div class="arrow-bar"></div>
    </div>
    <div id="footerContent">
        <div class="footer-row">
            <a class="footer-function-button" href="/">
                <img class="button-primary" src="/assets/images/icons/site-map-icon.png" alt="Icon for email message">
                <img class="button-active" src="/assets/images/icons/site-map-icon-active.png" alt="Highlighted icon for email message">
            </a>
            <a class="footer-function-button" href="/">
                <img class="button-primary" src="/assets/images/icons/phone-icon.gif" alt="Icon for phone text messaging">
                <img class="button-active" src="/assets/images/icons/phone-icon-active.gif" alt="Highlighted icon of phone text messaging">
            </a>
            <a class="footer-function-button" href="/">
                <img class="button-primary" src="/assets/images/icons/email-icon.png" alt="Icon for email message">
                <img class="button-active" src="/assets/images/icons/email-icon-active.png" alt="Highlighted icon for email message">
            </a>
            <a class="footer-function-button" href="/">
                <img class="button-primary" src="/assets/images/icons/github-icon.png" alt="Icon for email message">
                <img class="button-active" src="/assets/images/icons/github-icon-active.png" alt="Highlighted icon for email message">
            </a>
        </div>
        <div class="footer-row">
            <p>Updated: </p>
        </div>
    </div>

</footer>
<script src="/assets/js/footer/toggleFooter.js"></script>
<script src="/assets/js/footer/toggleFooterIcons.js"></script>