        {{!-- Footer --}}
        <footer>
            <div class="container px-4 px-lg-5 h-100 align-items-center ">

                {{!-- social media links --}}
                <div class="px-4 px-lg-5 h-50 d-flex align-items-center">
                    <a href="https://www.instagram.com/climbld/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="https://www.facebook.com/ClimbLD/groups/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                </div>

                {{!-- text information --}}
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <p>新北市貢寮區龍洞街4號</p>
                        <p>統編：91003441</p>
                        <p>Phone: 0932-119-218</p>
                        <p>Email: LDRocks@climblongdong.com</p>
                    </div>
                </div>
            </div>
        </footer>
        <button id="language-toggle" onclick="toggleLanguage()" data-en="English" data-cn="中文">English</button>