<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LobDev</title>

    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">

    <link href="https://fonts.cdnfonts.com/css/04b03" rel="stylesheet">

</head>
<body>
    <div id="header">
        <div id="navBar">
            <div id="navDropDownIcon">
                <div class="nav-dropdown-icon-bar"></div> 
                <div class="nav-dropdown-icon-bar"></div> 
                <div class="nav-dropdown-icon-bar"></div> 
            </div>
            <h1>
                LobDev
            </h1>
            <div id="navDropDown">
                <div class="nav-dropdown-item">
                    <a href="/">
                        <p>Home</p>
                    </a>
                </div>
                <div class="nav-dropdown-item">
                    <a href="/">
                        <p>Contact</p>
                    </a>
                </div>
                <div class="nav-dropdown-item">
                    <a href="/">
                        <p>Course Work</p>
                    </a>
                </div>
                <div class="nav-dropdown-item">
                    <a href="/">
                        <p>Projects</p>
                    </a>
                </div>
            </div>
        </div>
        <div id="logoBox">
            <a href="/">
                <img src="/assets/images/header_logo.webp" alt="small pixelated logo of lobster">
            </a>
        </div>
    </div>

    <script src="/assets/js/toggleNavBar.js"></script>
</body>
</html>