<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LobDev</title>

    <link rel="stylesheet" href="/assets/css/header.css">
    <link href="https://fonts.cdnfonts.com/css/04b03" rel="stylesheet">
                
</head>
<body>
    <div id="headerContainer">
        <div id="navBar">
            <div id="navDropDownIcon">
                <div></div>
                <div></div>
                <div></div>
                {{!-- TO-DO: Fill in navBar elements --}}
            </div>
            <p id="headerMainText">
                LobDev
                {{!-- TO-DO: Assign font to header text --}}
            </p>
        </div>
        <div id="logoBox">
            <a href="/">
                <img src="/assets/images/header_logo.webp" alt="small pixelated logo of lobster">
            </a>
        </div>
    </div>
</body>
</html>